* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #333;
  position: relative;
  color: #acf3ea;
  align-items: center;
}

.logo a {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.nav-links ul {
  display: flex;
  list-style: none;
}

.nav-links ul li {
  margin-left: 20px;
}

.nav-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.nav-links ul li a:hover {
  color: #acf3ea;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-container input {
  padding: 5px;
  border-radius: 5px 0 0 5px;
  border: none;
}

.search-container button {
  padding: 5px 10px;
  border: none;
  background-color: #555;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.hamburger {
  position: relative;
}

#menu-toggle {
  display: none;
}

.disciplinas {
  cursor: pointer;
  font-size: 18px;
  background-color: #636363;
  border: none;
  padding: 10px;
  color: #ffffff;
  border-radius: 5px;
}

.linha-vertical {
  display: none;
  position: absolute;
  background-color: aliceblue;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  min-width: 190px;
  z-index: 1;
  left: 0;
  top: 100%;
  list-style: none;
  border-radius: 5px;
}

.linha-vertical li {
  padding: 10px;
}

.linha-vertical a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  display: block;
  text-align: left;
  padding: 10px;
}

.linha-vertical a:hover {
  background-color: aquamarine;
}

#menu-toggle:checked ~ .linha-vertical {
  display: block;
}

section {
  margin: 60px 20px 20px;
  padding: 20px;
  scroll-margin-top: 80px; 
  font-family: "IBM Plex Serif", serif;
  font-weight: 500;
  font-style: normal;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #132929;
  color: white;
  text-align: center;
  padding: 1.2rem 1rem;
  font-size: 0.9rem;
  margin-top: auto;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
}

footer .footer-content {
  max-width: 800px;
  margin: 0 auto;
}

footer a {
  color: #a0e7e5;
  text-decoration: none;
  margin: 0 0.5rem;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #ffffff;
  text-decoration: underline;
}
